<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- External Stylesheets -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css"
        integrity="sha512-0p3K0H3S6Q4bEWZ/WmC94Tgit2ular2/n0ESdfEX8l172YyQj8re1Wu9s/HT9T/T2osUw5Gx/6pAZNk3UKbESw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <%-style%>
        <title>
            <%= title %>
        </title>
</head>

<body>
    <!-- Header -->
    <%- include('_header') %>
        <!-- Create Task modal  -->
        <%- include('_create_task')%>
            <%-body%>



                <script src="https://kit.fontawesome.com/5d0265ed42.js" crossorigin="anonymous"></script>

                <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
                    integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
                    crossorigin="anonymous"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>

                <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"
                    integrity="sha512-lOrm9FgT1LKOJRUXF3tp6QaMorJftUjowOWiDcG5GFZ/q7ukof19V0HKx/GWzXCdt9zYju3/KhBNdCLzK8b90Q=="
                    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
                <script>

                <% if (flash.success && flash.success.length > 0) {%>
                        new Noty({
                            theme: 'metroui',
                            text: '<i class="fa-solid fa-circle-check me-1"></i><%=flash.success%>',
                            type: 'success',
                            layout: 'topRight',
                            timeout: 1500
                        }).show();
                        <%}%>
                </script>
                <%-script%>

                    <!-- Toggles completion status of tasks -->
                    <script src="/<%= assetPath('js/toggle_status.js')%>"></script>


</body>

</html>